@CHARSET "UTF-8";

html, body {
	margin:0;
	height:100%;
  /*padding-top: 20px;
  padding-bottom: 40px;*/
}

/* Custom container */
.container-narrow {
	min-height: 100%;
	height: auto !important;
	height: 100%;
  margin: 0 auto;
  margin-bottom:-38px;
  max-width: 1200px;
  
}

#body {
    margin-left:12%;
    margin-right:12%;
    max-width: 1200px;
}


.container-table, .options {
    margin:5px;
    margin-left:5%;
    margin-right:5%;
}
.push{
	height:38px;
}

.footer{
	height:32px;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	
	/*border-top:thin solid #999;
	border-right:thin solid #999;
	border-left:thin solid #999;

	border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
	*/
	

  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	
}


.footer #foot{
	padding-top:6px;
	margin-left:auto;
	margin-right:auto;
	width:260px;
    font-size: 15px;
    font-weight:bolder;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
}


.login-container{
	margin-left:auto;
	margin-right:auto;
	width:350px;
}
