<div class="container-table" >

    <table class="table table-striped table-hover table-condensed" ng-hide="graphs==undefined">
            <tr>
                <th style="width:30%;">Graph name</th>
                <th style="width:30%;">Author</th>
                <th style="width:20%;">Date</th>
                <th style="width:20%;">Options</td>
            </tr>
           <tr ng-repeat="g in graphs | filter:search | orderBy:'name'">
                <td style="width:30%;">{[ g.name ]}</td>
                <td style="width:30%;">{[ g.author.username ]}</td>
                <td style="width:20%;">{[ g.date ]}</td>
                <td style="width:20%;">                 
                    <button class="btn btn-mini btn-primary" ng-click="$emit('updateGraph', g);">View</button>
                    <a ng-show="is_admin" class="btn btn-mini btn-info" href="/#/graphs/{[ g.id_graph ]}/" >Edit</a>
                    <button ng-show="is_admin" ng-click="$emit('deleteGraph', g);" class="btn btn-mini btn-danger">Delete</button>
                </td>
            </tr>
    </table>


        <div class="pagination pagination-centered" ng-hide="graphNext==null && graphPrevious==null">
            <ul>
                <li ng-hide="graphPrevious==null"><a  ng-click="$emit('paginate', graphPrevious)">Prev</a></li>
                <li class="disabled">
                   <a> Page {[ graphCurrentPage ]} of {[ graphNumberOfPages]}</a>
                </li>
                <li ng-hide="graphNext==null"><a  ng-click="$emit('paginate', graphNext)">Next</a></li>
            </ul>
        </div>
<div ng-show="graphs==undefined">
    <h3>Graphs</h3>
    <p>No graphs found!!! :(</p>
</div>
</div>