<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.ui.custom.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.css"/>
	
    <title>graph viewer</title>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

</head>
<body>

<div class="container-narrow">
    <div class="masthead">
		<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<span class="brand">graph viewer</span>
            <ul class="nav">
                <li id="home"><a href="/">Home</a></li>
		    </ul>	
	    </div>
	    </div>
	</div>

    <div class="content">
        <center>
        <h1>
		{{ error }}
        </h1>
        </center>
	</div>
</div>

<div class="footer navbar-fixed-bottom" >
    <img class="pull-right" src="/img/appengine-noborder-120x30.gif" 
    alt="Powered by Google App Engine" />
    <p id="foot">
    <span class="brand">Miran Levar, P2, FRI 2012/2013 </span>
    </p>
</div>
</body>
</html>