<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.ui.custom.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.css"/>
	
    <title>graph viewer</title>
   
    <script data-main="static/js/main" src="{{ STATIC_URL }}js/lib/require.js"></script>

</head>
<body>

<div class="container-narrow" id="container">
    <div class="masthead" id="navbar">
		<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<span class="brand">graph viewer</span>
			<ul class="nav">
                <li id="home"><a href="/#/">Home</a></li>		               
                <li id="graphs"><a href="/#/graphs/">Graphs</a></li>     	                                         
            </ul>
            <ul class="nav" id="navbar-extend">
            </ul>                

            <ul class="nav pull-right">
                <li><a href="/logout/">{{ user.username }}, sign out here</a></li>
		    </ul>
	    </div>
	    </div>
	</div>

    <div class="content" id="content">	    
	</div>
</div>

<div class="footer navbar-fixed-bottom" >
    <p id="foot">
    <span class="brand">mlevar, 2012/2013 </span>
    </p>
</div>
</body>

</html>