{% extends "frame.html" %}

{% block menu_items %}
    <a class="btn btn-primary" style="margin-left:5px" href="/graphs/new" id="new">Add New</a>
{% endblock %}

{% block onload %}
    $('#graphs').addClass('active');
{% endblock %}

{% block content %}
<center>
<form class="form-horizontal" action="" method="post" style="width:500px; margin:10px; margin-top:40px;">
    {% csrf_token %}

    <div class="control-group" id="name">
      <label class="control-label" for="id_name">Graph name:*</label>
      <div class="controls">
        {{form.name}}
        <span id="name-help" class="help-inline"></span>
      </div>
    </div>
    
    <div class="control-group {% if msg %} error {% endif %} " id="nodes">
      <label class="control-label" for="id_nodes">Graph data:*</label>
      <div class="controls">
        {{form.nodes}}
        <span id="nodes-help" class="help-inline">{{ msg }}</span>
      </div>
    </div>
    <input class="btn btn-primary" id="submit-btn" type="submit" value="Add New">
</form>
</center>

<script>
function checkRegexp( o, regexp, n ) {
    if ( !( regexp.test( o.val() ) ) ) {
        o.addClass( "ui-state-error" );
        updateTips( n );
        return false;
    } else {
        return true;
    }
}

$('#id_name').blur(function(){
    x = $('#id_name');
    if ( !( /^[\w\- ]+$/.test( x.val() ))) {
        $('#name').addClass('error');
        x.addClass('invalid');
        $('#submit-btn').attr('disabled', 'disabled');
        $('#name-help').text("You must enter a name!");
    }else{
        $('#name').removeClass('error');
        x.removeClass('invalid');
        $('#submit-btn').removeAttr('disabled');
        $('#name-help').text("");
    }
});
    $('#id_nodes').blur(function(){
    x = $('#id_nodes');
    ok = true;
    try
    {
       var json = JSON.parse(x.val());
    }
    catch(e)
    {
       ok = false;
    }   
    if ( !ok) {
        $('#nodes').addClass('error');
        x.addClass('invalid');
        $('#submit-btn').attr('disabled', 'disabled');
        $('#nodes-help').text("Enter valid json nodes! {\"nodes\":[(source, destination),...]}");
    }else{
        $('#nodes').removeClass('error');
        x.removeClass('invalid');
        $('#submit-btn').removeAttr('disabled');
        $('#nodes-help').text("");
    }
});
</script>
{% endblock %}